breadcrumbs-container {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
  }
   
  .breadcrumb-item {
    margin-right: 5px;
  }
   
  .separator {
    color: #888;
  }
   
  a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }